
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* Variables */
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --background-img: url('');
}


/* Global styles */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Montserrat,'Roboto', sans-serif;
  position: relative;
}

body::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: var(--background-img);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  filter: brightness(50%);
} 


/* INPUT SECTION */
form {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px
}

input {
  width: 30%;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--clr-black);
  outline: none;
  font: inherit
}
input:focus {
  border: 2px solid var(--clr-black)
}
.search {
  padding: 9px 20px;
  font: inherit;
  background-color: rgba(255, 255, 255, .4);
  border: none;
  cursor: pointer;
}

/* MAIN SECTION */
.main {
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative 
}
.card {
  background-color: rgba(255, 255, 255, .4);
  padding: 30px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* Left Section */
.left-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 2fr 3.5fr 1fr;
  width: 70%;
}
.weather-title {
  grid-column: 1/4;
  font-size: 1.5rem;
}
.city-name {
  grid-column: 1/4;
  font-size: 3rem;
}
.temp {
  grid-column: 1/3;
  font-size: 7rem;
  font-weight: 500;
}
.temp span {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  top: -43px;
}
.icon .material-icons {
  font-size: 100px;
  margin-top: 20px;
}
.icon {
  width: 100%;
  display: flex;
}
.gg-sun {
  --ggs: 4;
  position: relative;
  top: 57px;
  left: 37px;
}
.to-farenheit {
  font: inherit;
  font-size: .8rem;
  background-color: rgba(255, 255, 255, .2);
  border: none;
  cursor: pointer;
}
.to-farenheit:active {
  background-color: rgba(255, 255, 255, .3);
}

/* Right Section */
.right-section {
  width: 30%;
  height: 70%;
  border-left: 3px solid var(--clr-black);
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.right {
  padding: 5px;
  font-size: 1.3rem;
}
.titles {
  font-size: .7rem;
}

/* MEDIA QUERIES */

@media (max-width: 850px) {
  .card {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 400px;
    flex-direction: column;
  }
  .left-section {
    width: 100%;
  }
  .right-section {
    width: 100%;
    padding-left: 0;
    border-left: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 3px solid var(--clr-black);
    text-align: center;
    gap: 10px;
  }
  .icon {
    justify-content: center;
  }
  .weather-title {
    font-size: 1rem;
  }
  .city-name {
    font-size: 2rem;
  }
  .temp {
    font-size: 5rem;
  }
  .icon .material-icons {
    font-size: 80px;
    margin-top: 10px;
  }
  .temp span {
    font-size: 2rem;
    top: -30px;
  }
  form {
    height: 120px;
  }
}

@media (max-width: 450px) {
  .card {
    width: 300px;
  }
  form {
    flex-direction: column;
    height: 150px;
  }
  input {
    width: 50%;
  }
}